{% extends "base.html.twig" %}

{% block body %}
  <div id="app">
  Welcome to Receipe app. In this app, you can make a REST calls <br />
  - to fetch all receipes <br />
  - to fetch one of a receipes <br />
  - to update or edit a receipe <br />
  - to delete a receipe <br />
  </div>

{% endblock %}